# This is a basic workflow to help you get started with Actions

name: Project2 Workflow

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: installing NodeJS
        uses: actions/setup-node@v2-beta
        with:
          version: 12

      - name: installing surge
        run: npm install -g surge
      
      - uses: borales/actions-yarn@v2.0.0
        with:
          cmd: install # will run `yarn install` command

      - name: building yarn to create react app
        run: yarn build
      
      - name: deploying project using surge
        run: surge ./build ad-theory.surge.sh --token ${{secrets.SURGE_TOKEN}}
